@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>&#161;Bienvenido a mi aplicaci&oacute;n MVC&#33;</h1>
    <p class="lead">Esta aplicaci&oacute;n se centra en el uso de ABMC (o CURD) con Facturas y Art&iacute;culos</p>
    <p>
        <a href="http://localhost:61791/Articulo" class="btn btn-primary btn-lg">Mirar art&iacute;culos &raquo;</a>
        <a href='http://localhost:61791/Facturas' class="btn btn-primary btn-lg">Mirar facturas &raquo;</a>
    </p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>&Uacute;ltimos cambios [18/11/16]</h2>
        <p>
            Ahora la aplicaci&oacute;n tiene contr&oacute;l de c&oacute;digos v&aacute;lidos.
            Si el usuario ingresa un valor que ya existe en la base de datos, este no permite el ingreso.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>